# Importing libraries and reading data

Put the following csv file (decompressed) in the same directory of your notebook

File (~80 Mb): https://github.com/terezaif/workshops_data_exploration/raw/master/datasets/yellow_tripdata_2016-06_sample30.csv.zip

The dataset contains a sample of trips made by yellow taxis in new york in the year of 2016. The fields' definition are explained here: http://www.nyc.gov/html/tlc/downloads/pdf/data_dictionary_trip_records_yellow.pdf

The objective os this notebook is to fix the ideas we saw on the workshop until now. You're going to look at the data, understand what it means and make plots and analysis in order to understand facts inside it.  

We have produced 5 questions where you can use python and produce the according plots that gives the proper answer. There are no tricks in the questions and all of them could be solvable in maximum 3-4 lines of code.  We added the links showing how to create the desired plots in the begining of the questions section, so you'll have basically three tasks for each question:
* Indentifying the correct plot
* Try to understand the code references (links) and create the desirable plot with python
* Interpret the plots. You should be able to explain to a friend what you're seeing.

Any questions, just call for one of the supporters :)

# Importing libraries and reading data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [12, 12]

df = pd.read_csv('https://github.com/terezaif/workshops_data_exploration/raw/master/datasets/yellow_tripdata_2016-06_sample30.csv.zip', compression='zip')
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2016-06-01 13:08:29,2016-06-01 13:17:15,1,0.88,-73.974533,40.761406,1,N,-73.968262,40.754543,2,7.0,0.0,0.5,0.00,0.00,0.3,7.80
1,2,2016-06-07 17:43:48,2016-06-07 17:54:15,2,0.69,-73.983727,40.754681,1,N,-73.977814,40.763580,1,7.5,1.0,0.5,0.00,0.00,0.3,9.30
2,2,2016-06-13 19:39:45,2016-06-13 19:49:13,1,2.13,-73.981293,40.781319,1,N,-73.954582,40.787319,1,9.5,1.0,0.5,2.26,0.00,0.3,13.56
3,2,2016-06-01 13:31:35,2016-06-01 14:12:04,2,4.33,-73.946938,40.749332,1,N,-73.998566,40.730507,1,25.0,0.0,0.5,0.21,5.54,0.3,31.55
4,2,2016-06-07 23:02:07,2016-06-07 23:06:33,1,0.47,-73.975632,40.760696,1,N,-73.982735,40.763947,2,4.5,0.5,0.5,0.00,0.00,0.3,5.80

# Few tips

## Selecting column(s) from dataframe

In [2]:
col_name = ['passenger_count']

df[col_name]

         passenger_count
0                      1
1                      2
2                      1
3                      2
4                      1
5                      1
6                      1
7                      1
8                      1
9                      1
10                     3
11                     1
12                     1
13                     1
14                     4
15                     1
16                     1
17                     1
18                     1
19                     1
20                     1
21                     1
22                     4
23                     1
24                     1
25                     3
26                     6
27                     1
28                     2
29                     1
...                  ...
1781645                3
1781646                1
1781647                1
1781648                1
1781649                1
1781650                2
1781651                1
1781652                2
1781653                1
1781654                1
1781655                1
1781656                1
1781657                2
1781658                1
1781659                1
1781660                6
1781661                2
1781662                2
1781663                1
1781664                1
1781665                2
1781666                1
1781667                1
1781668                1
1781669                1
1781670                2
1781671                1
1781672                2
1781673                1
1781674                1

[1781675 rows x 1 columns]

## Selecting rows given a condition

In [3]:
condition = df['passenger_count'] == 2
df.loc[condition]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
1,2,2016-06-07 17:43:48,2016-06-07 17:54:15,2,0.69,-73.983727,40.754681,1,N,-73.977814,40.763580,1,7.5,1.0,0.5,0.00,0.00,0.3,9.30
3,2,2016-06-01 13:31:35,2016-06-01 14:12:04,2,4.33,-73.946938,40.749332,1,N,-73.998566,40.730507,1,25.0,0.0,0.5,0.21,5.54,0.3,31.55
28,2,2016-06-29 08:42:46,2016-06-29 08:49:33,2,1.57,-73.912613,40.746010,1,N,-73.929787,40.754421,2,7.0,0.0,0.5,0.00,0.00,0.3,7.80
31,2,2016-06-05 04:43:41,2016-06-05 04:56:27,2,2.89,-73.979904,40.722668,1,N,-73.993668,40.746567,1,11.0,0.5,0.5,2.46,0.00,0.3,14.76
38,2,2016-06-15 22:19:01,2016-06-15 22:22:53,2,0.74,-73.956497,40.717018,1,N,-73.965508,40.713581,2,4.5,0.5,0.5,0.00,0.00,0.3,5.80
39,1,2016-06-26 20:52:07,2016-06-26 21:00:41,2,2.60,-73.972992,40.751541,1,N,-73.948021,40.784779,1,10.0,0.5,0.5,1.00,0.00,0.3,12.30
40,1,2016-06-04 23:31:03,2016-06-04 23:42:45,2,1.50,-73.999252,40.728504,1,N,-73.984436,40.742771,1,9.5,0.5,0.5,2.15,0.00,0.3,12.95
52,1,2016-06-10 17:54:23,2016-06-10 18:12:49,2,2.60,-73.980347,40.762741,1,N,-73.966774,40.793530,1,13.5,1.0,0.5,3.80,0.00,0.3,19.10
68,2,2016-06-12 05:57:38,2016-06-12 06:06:03,2,3.03,-73.986603,40.761559,1,N,-73.965340,40.801048,1,10.5,0.5,0.5,0.00,0.00,0.3,11.80
69,2,2016-06-10 03:09:52,2016-06-10 03:16:51,2,1.98,-73.983528,40.760601,1,N,-73.979080,40.740620,1,8.0,0.5,0.5,1.86,0.00,0.3,11.16
71,2,2016-06-17 05:01:15,2016-06-17 05:11:56,2,2.93,-73.953293,40.771542,1,N,-73.959000,40.799488,2,11.5,0.5,0.5,0.00,0.00,0.3,12.80
86,1,2016-06-04 19:44:43,2016-06-04 20:01:19,2,1.80,-73.994942,40.745258,1,N,-73.975151,40.761726,1,11.5,0.0,0.5,0.00,0.00,0.3,12.30
91,2,2016-06-19 00:10:40,2016-06-19 00:25:41,2,3.35,-74.000069,40.719040,1,N,-73.970535,40.756145,1,13.0,0.5,0.5,1.00,0.00,0.3,15.30
104,1,2016-06-20 20:12:16,2016-06-20 20:20:16,2,1.70,-74.015091,40.714130,1,N,-74.004257,40.733013,1,8.0,0.5,0.5,1.85,0.00,0.3,11.15
107,1,2016-06-06 18:13:07,2016-06-06 18:31:26,2,3.10,-73.970985,40.753368,1,N,-73.941307,40.788452,1,14.0,1.0,0.5,3.15,0.00,0.3,18.95
121,1,2016-06-08 20:27:03,2016-06-08 20:37:27,2,2.00,-74.000099,40.734787,1,N,-73.978615,40.752235,2,9.5,0.5,0.5,0.00,0.00,0.3,10.80
124,2,2016-06-01 09:00:13,2016-06-01 09:11:40,2,3.51,-73.988029,40.718739,1,N,-74.011452,40.704762,2,13.0,0.0,0.5,0.00,0.00,0.3,13.80
153,2,2016-06-30 13:14:01,2016-06-30 13:30:32,2,2.42,-73.968147,40.762421,1,N,-73.983292,40.781429,2,13.0,0.0,0.5,0.00,0.00,0.3,13.80
165,1,2016-06-18 03:52:42,2016-06-18 04:04:28,2,3.20,-74.002579,40.749897,1,Y,-74.009239,40.714600,1,12.5,0.5,0.5,2.75,0.00,0.3,16.55
174,2,2016-06-22 09:00:15,2016-06-22 09:59:25,2,16.70,-73.982857,40.763691,3,N,-74.181931,40.687691,2,70.5,0.0,0.0,0.00,12.50,0.3,83.30
179,2,2016-06-29 13:59:18,2016-06-29 14:12:15,2,1.93,-73.968208,40.750919,1,N,-73.950768,40.774811,2,10.0,0.0,0.5,0.00,0.00,0.3,10.80
187,1,2016-06-14 17:15:21,2016-06-14 17:25:24,2,1.30,-73.988007,40.738148,1,Y,-74.003456,40.748886,1,8.5,1.0,0.5,2.05,0.00,0.3,12.35
188,1,2016-06-10 21:42:33,2016-06-10 22:06:20,2,4.50,-74.001526,40.726051,1,N,-73.956909,40.766026,2,18.0,0.5,0.5,0.00,0.00,0.3,19.30
190,1,2016-06-02 14:28:09,2016-06-02 14:55:00,2,1.70,-73.991745,40.731056,1,N,-73.987686,40.750641,1,16.5,0.0,0.5,3.45,0.00,0.3,20.75
204,2,2016-06-02 15:05:52,2016-06-02 15:17:20,2,1.52,-73.976959,40.753220,1,N,-73.982948,40.735062,1,9.0,0.0,0.5,1.96,0.00,0.3,11.76
212,2,2016-06-28 08:20:49,2016-06-28 09:11:36,2,9.10,-73.870911,40.773731,1,N,-73.981049,40.759460,1,35.5,0.0,0.5,8.37,5.54,0.3,50.21
215,2,2016-06-13 13:10:15,2016-06-13 13:41:16,2,10.40,-73.789787,40.643719,1,N,-73.921402,40.685108,1,33.0,0.0,0.5,10.14,0.00,0.3,43.94
231,2,2016-06-02 07:44:42,2016-06-02 07:53:18,2,1.68,-73.962936,40.758423,1,N,-73.947319,40.777821,1,8.0,0.0,0.5,1.76,0.00,0.3,10.56
232,1,2016-06-18 01:46:41,2016-06-18 01:53:56,2,1.50,-74.003777,40.723675,1,N,-74.000046,40.740425,1,7.5,0.5,0.5,2.00,0.00,0.3,10.80
234,1,2016-06-02 22:13:42,2016-06-02 22:24:13,2,1.10,-74.012535,40.702679,1,N,-74.013969,40.716171,1,8.5,0.5,0.5,1.95,0.00,0.3,11.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1781438,1,2016-06-27 14:59:45,2016-06-27 15:14:12,2,1.60,0.000000,0.000000,1,N,0.000000,0.000000,1,10.5,0.0,0.5,2.80,0.00,0.3,14.10
1781439,2,2016-06-06 16:17:53,2016-06-06 16:19:59,2,0.36,-73.959038,40.771889,1,N,-73.954903,40.774139,2,3.5,1.0,0.5,0.00,0.00,0.3,5.30
1781453,2,2016-06-03 06:42:22,2016-06-03 06:49:20,2,1.93,-73.953545,40.779591,1,N,-73.971779,40.757076,2,8.0,0.0,0.5,0.00,0.00,0.3,8.80
1781473,2,2016-06-01 13:01:41,2016-06-01 13:34:54,2,1.95,-73.986885,40.742577,1,N,-73.975525,40.765293,2,19.5,0.0,0.5,0.00,0.00,0.3,20.30
1781476,1,2016-06-09 19:16:29,2016-06-09 19:21:02,2,0.60,-73.981407,40.774113,1,N,-73.986908,40.766312,2,5.0,1.0,0.5,0.00,0.00,0.3,6.80
1781489,2,2016-06-16 23:41:05,2016-06-17 00:00:41,2,4.56,-73.972664,40.753002,1,N,-73.949425,40.728226,1,17.5,0.5,0.5,4.70,0.00,0.3,23.50
1781497,2,2016-06-24 18:26:30,2016-06-24 18:30:24,2,0.68,-73.952888,40.776356,1,N,-73.952049,40.770500,1,4.5,1.0,0.5,1.58,0.00,0.3,7.88
1781506,2,2016-06-04 12:46:26,2016-06-04 13:16:28,2,12.58,-73.988869,40.736683,1,N,-73.865005,40.770496,1,36.5,0.0,0.5,10.71,5.54,0.3,53.55
1781511,1,2016-06-22 00:36:02,2016-06-22 00:42:25,2,1.60,-73.994675,40.750462,1,N,-73.983208,40.770737,1,7.0,0.5,0.5,2.05,0.00,0.3,10.35
1781532,2,2016-06-25 09:44:24,2016-06-25 09:49:49,2,0.75,-73.953789,40.766842,1,N,-73.962372,40.773129,1,5.5,0.0,0.5,1.26,0.00,0.3,7.56
1781536,2,2016-06-28 18:21:09,2016-06-28 18:45:39,2,3.04,-73.962723,40.769760,1,N,-73.993233,40.736431,1,16.5,1.0,0.5,4.58,0.00,0.3,22.88
1781539,1,2016-06-07 08:02:36,2016-06-07 08:34:19,2,4.30,-73.955002,40.788471,1,N,-73.994591,40.750420,1,22.0,0.0,0.5,4.55,0.00,0.3,27.35
1781552,2,2016-06-03 17:57:19,2016-06-03 18:11:18,2,1.16,-73.983337,40.738571,1,N,-73.992340,40.749062,1,10.0,1.0,0.5,1.20,0.00,0.3,13.00
1781555,2,2016-06-07 22:04:33,2016-06-07 22:27:12,2,3.98,-73.962448,40.778954,1,N,-73.979813,40.733425,1,17.5,0.5,0.5,3.00,0.00,0.3,21.80
1781565,2,2016-06-01 18:56:01,2016-06-02 18:46:46,2,0.94,-73.988770,40.758602,1,N,-73.991318,40.750011,2,7.5,1.0,0.5,0.00,0.00,0.3,9.30
1781581,1,2016-06-25 13:55:40,2016-06-25 14:11:06,2,3.90,-73.971970,40.765678,1,N,-73.957611,40.732086,2,14.0,0.0,0.5,0.00,0.00,0.3,14.80
1781583,2,2016-06-28 06:49:30,2016-06-28 06:53:50,2,1.36,-74.003883,40.725731,1,N,-74.000671,40.741638,1,6.0,0.0,0.5,0.70,0.00,0.3,7.50
1781585,1,2016-06-26 04:23:01,2016-06-26 04:32:34,2,2.20,-73.987106,40.719894,1,N,-73.983330,40.743988,2,9.5,0.5,0.5,0.00,0.00,0.3,10.80
1781586,2,2016-06-02 18:46:23,2016-06-02 19:07:20,2,4.08,-74.007919,40.711811,1,N,-73.994247,40.732121,1,18.0,1.0,0.5,3.96,0.00,0.3,23.76
1781607,2,2016-06-25 17:30:32,2016-06-25 17:35:42,2,0.85,-73.962700,40.772900,1,N,-73.950661,40.770988,1,5.5,0.0,0.5,1.26,0.00,0.3,7.56
1781615,1,2016-06-06 16:10:08,2016-06-06 16:44:35,2,5.50,-73.985130,40.753223,1,N,-73.951447,40.723194,1,24.5,1.0,0.5,5.26,0.00,0.3,31.56
1781628,2,2016-06-16 17:40:47,2016-06-16 18:41:52,2,17.69,-73.781265,40.644928,2,N,-73.984322,40.737766,1,52.0,4.5,0.5,12.57,5.54,0.3,75.41
1781650,2,2016-06-04 22:35:46,2016-06-04 22:47:57,2,2.67,-73.986252,40.743279,1,N,-73.961571,40.776070,1,11.5,0.5,0.5,2.56,0.00,0.3,15.36
1781652,1,2016-06-05 23:24:16,2016-06-05 23:24:16,2,0.00,-73.986153,40.722446,1,Y,0.000000,0.000000,2,6.0,0.5,0.5,0.00,0.00,0.3,7.30
1781657,1,2016-06-20 23:58:11,2016-06-21 00:26:25,2,6.60,-73.991005,40.750446,1,N,-73.973480,40.672722,1,23.5,0.5,0.5,4.95,0.00,0.3,29.75
1781661,1,2016-06-07 23:23:21,2016-06-07 23:38:19,2,2.70,-73.987389,40.719681,1,N,-73.984650,40.702847,1,13.0,0.5,0.5,2.85,0.00,0.3,17.15
1781662,2,2016-06-10 14:35:32,2016-06-10 14:48:19,2,1.06,-73.991302,40.755131,1,N,-73.994492,40.765991,1,9.5,0.0,0.5,2.06,0.00,0.3,12.36
1781665,1,2016-06-21 12:43:08,2016-06-21 13:07:19,2,2.50,-74.005127,40.741665,1,N,-73.977104,40.747059,2,15.5,0.0,0.5,0.00,0.00,0.3,16.30
1781670,1,2016-06-27 11:58:56,2016-06-27 12:14:22,2,3.90,-73.997261,40.725517,1,N,-74.012733,40.701740,2,15.5,0.0,0.5,0.00,0.00,0.3,16.30
1781672,1,2016-06-25 18:07:06,2016-06-25 18:19:59,2,2.50,-73.988770,40.777832,1,N,-73.957512,40.782745,1,11.5,0.0,0.5,3.05,0.00,0.3,15.35

# Plots References:

Scatter - https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.scatter.html

Boxplot - https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.boxplot.html

Correlation - https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.corr.html

Describe - https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html

Histogram - https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.hist.html

# Q1 - How are the trip_distance and tip_amount related?

# Q2 - What is the correlation between the variables above? What kind of information can you extract from that?

# Q3 - How is the fare distribution between vendor_id = [1, 2]? Anything suspicious with this data?

# Q4 - What is the distribution (histogram) of fare amounts? Can you think why the x-axis grows so big to fare amounts > 1200? Hint: Look at df.describe()